
<!-- <form method='post'>
    {% csrf_token %}
    <p>Are you sure you want to delete <b>{{ customer.firstname }} {{ customer.lastname }}</b>?</p>
    <a href="{% url 'webkiosk:customer-list' %}">Cancel</a>
    <input type='submit' value='Yes'>
</form> -->




{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'webkiosk/styles/customer_delete.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrubFood - Delete {{ customer.firstname }} {{customer.lastname}}</title>
</head>
<body>
    <section class='sidenav'>
        <div class='user'>
            <img class='profile' src="{% static 'webkiosk/images/profile.png' %}">
            <h3>{{ request.user }}</h3>
        </div>
        <ul>
            <div class='products'>
                <img class='productsicon' src="{% static 'webkiosk/images/products.png' %}">
                <li><a href="{% url 'webkiosk:food-list' %}">Products</a></li>
            </div>
            {% if request.user.is_staff %}
            <div class="customers">
                <img class='productsicon' src="{% static 'webkiosk/images/customers.png' %}">
                <li><a href="{% url 'webkiosk:customer-list' %}">Customers</a></li>
            </div>
            {% endif %}
            {% if request.user.is_staff %}
            <div class="orders">
                <img class='productsicon' src="{% static 'webkiosk/images/orders.png' %}">
                <li><a href="{% url 'webkiosk:order-list' %}">Orders</a></li>
            </div>
            {% endif %}
            <div class="orders">
                <img class='productsicon' src="{% static 'webkiosk/images/orders.png' %}">
                <li><a href="{% url 'webkiosk:user-page' %}">Profile</a></li>
            </div>
        </ul>
        <img class='logo' src="{% static 'webkiosk/images/logo.png' %}">
    </section>
    <section class="header">
        <div class="searchbar">
            <img class='search' src="{% static 'webkiosk/images/search.png' %}">
            <input type='text' placeholder="Search...">
        </div>
        <div class='rightside'>
            <a href="{% url 'webkiosk:logout' %}">Log out</a>
            <img src="{% static 'webkiosk/images/settings.png' %}">
        </div>
    </section>
    <main class='main'>
        <section class='addedit__title'>
            <h3>Delete Customer</h3>
        </section>

        <section class='details'>
            <h4>Customer #{{ customer.pk }}</h4>
            
                <form method='post'>
                    <section class='inputs'>
                        {% csrf_token %}
                        <p class='two'>Are you sure you want to delete <b>{{ customer.firstname }} {{ customer.lastname }}</b>?</p>
                        <div class='one'>
                            <a class='cancel' href="{% url 'webkiosk:customer-list' %}">Cancel</a>
                            <input class='delete' type='submit' value='Yes'>
                        </div>
                    </section>
                </form>
        </section>
    </main>
</body>
</html>
