{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'webkiosk/styles/order.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrubFood - Order</title>
</head>
<body>
    <section class='sidenav'>
        <div class='user'>
            <img class='profile' src="{% static 'webkiosk/images/profile.png' %}">
            <h3>{{ request.user }}</h3>
        </div>
        <ul>
            <div class='products'>
                <img class='productsicon' src="{% static 'webkiosk/images/products.png' %}">
                <li><a href="{% url 'webkiosk:food-list' %}">Products</a></li>
            </div>
            {% if request.user.is_staff %}
            <div class="customers">
                <img class='productsicon' src="{% static 'webkiosk/images/customers.png' %}">
                <li><a href="{% url 'webkiosk:customer-list' %}">Customers</a></li>
            </div>
            {% endif %}
            <div class="orders">
                <img class='productsicon' src="{% static 'webkiosk/images/orders.png' %}">
                <li><a href="{% url 'webkiosk:user-page' %}">Profile</a></li>
            </div>
        </ul>
        <img class='logo' src="{% static 'webkiosk/images/logo.png' %}">
    </section>
    <section class="header">
        <div class="searchbar">
            <img class='search' src="{% static 'webkiosk/images/search.png' %}">
            <input type='text' placeholder="Search...">
        </div>
        <div class='rightside'>
            <a href="{% url 'webkiosk:logout' %}">Log out</a>
            <img src="{% static 'webkiosk/images/settings.png' %}">
        </div>
    </section>

    <main class='main'>
        <section class="orders__title">
            <h3> Profile Details </h3>
        </section>
        
        <section class="order__list">
            <h4>Profile</h4>
            <div class="grey__header">
                <div class="rows2"> 
                    <p class='id'>Firstname</p>
                    <p class='date'>Lastname</p>
                    <p class='customer'>Address</p>
                    <p class='customer'>City</p>
                </div>
            </div>
        
            <div class="info">
                <div class="rows__details2">
                    <p class='detail__date2'> {{ customer.firstname }}</p>
                    <p class='detail__date2'> {{ customer.lastname }}</p>
                    <p class='detail__date2'> {{ customer.address}}</p>
                    <p class='detail__date2'> {{ customer.city }}</p>
                    <a href="{% url 'webkiosk:customer-updates' customer.id %}"><button class='edit'>Edit</button></a>
                </div>
            </div>
           
        </section>



        <section class="orders__title">
            <h3> Orders </h3>
            <button><a href="{% url 'webkiosk:order-create'%}">Add Order</a></button>
        </section>

        <section class="order__list">
            <h4>Orders</h4>
            <div class="grey__header">
                <div class="rows"> 
                    <p class='id'>ID</p>
                    <p class='date'>Date</p>
                    <p class= 'customer'>Customer</p>
                </div>
            </div>
            {% for order in orders %}
            <div class="info">
                <div class="rows__details">
                    <p class='detail__id'> {{ order.id }} </p>
                    <p class='detail__date'> {{ order.orderdatetime}}</p>
                    <p class='detail__customer'> {{ order.customer.firstname }} {{ order.customer.lastname }} </p>
                    <button class='details'><a href="{% url 'webkiosk:order-detail' order.id %}">View</a></button>
                    <button class='edit'><a href="{% url 'webkiosk:order-update' order.id %}"> Edit</a></button>
                    <button class='delete'><a href="{% url 'webkiosk:order-delete' order.id %}"> Delete </a></button>
                </div>
            </div>
            {% endfor %}

           {% for i in details %}
           {{ i.city }}
           {% endfor %}
 </section>

 
 </main>
 </body>
 </html>


